<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Acerca de" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content">
  <Label class="page__content-icon far" text="&#xf2bb;"></Label>
  <Label class="page__content-placeholder" text="Alejandro Garcia Arana"></Label>
  <label fontSize="20" horizontalAlignment="center" top="30" text="Estudiante de la ingenieria en nanotecnología"></label> 
  <label fontSize="15" horizontalAlignment="center" top="40" text="22 años"></label>
  <Label Size="20" horizontalAlignment="center" marginTop="100" text="¿Deseas conocer tu plataforma?"></Label>
  <button text="Clic aqui" class="boton"  (tap)="tap()"></button>

}
</StackLayout>

