<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Favoritos" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>
<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="pageLoaded" navigatingTo="onNavigatingTo">

<GridLayout class="page__content">
  <FlexboxLayout flexDirection="column" >

    <label text="A continuación se muestran tus favoritos" fontStyle="italic" textWrap="true" textAlignment="center" fontSize="20" ></label>

 </FlexboxLayout>
  <ActionBar title="SQL App">
    <ActionItem text="Refresh" ios.position="left" (tap)="fetch()"></ActionItem>
</ActionBar>
<StackLayout>
  <ListView marginTop="50" class="list-group" [items]="getpeople()" (itemTap)="onItemTap($event)">
            <Label text="{{ getpeople() }}"></Label>
    </ListView>
    <Button text="Cargar de nuevo"  (tap)="mostrarbd()"></Button>

</StackLayout>
</GridLayout>
</Page>
